<% content_for "common HTML headers" %>
  <head>
    <meta charset="utf-8">
    <title>Stream Together</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/video-handler.js" charset="utf-8"></script>
  </head>
<% end %>
