<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%= yield_content "common HTML headers" %>
  <body>
    <%= yield_content "video selection form" %>

    <video id="video-js-target-tag"></video>
  </body>
</html>
